/* NeflixSans-Regular 글꼴 적용 */
@font-face {
  src: url(../fonts/NetflixSans-Regular.otf);
  font-family: NeflixSans-Regular;
}

body {
  font-family: NeflixSans-Regular;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 60px;

  position: absolute;

  top: 0;
  left: 0;
  box-sizing: border-box;

  z-index: 2;
}

header img {
  width: 150px;
}

header ul {
  display: flex;
}

header li {
  margin-left: 20px;
}

/* header Option tag */

header select {
  color: #333;
  font-size: 16px;
  width: 100%;
}

header option {
  border: 1px solid #aaa;
  color: white;
}

/* header 로그인 버튼 */

header a {
  background-color: #e50914;
  line-height: normal;

  color: white;
  text-decoration: none;
  padding: 7px 17px;
  font-weight: 400px;

  border-radius: 3px;
  cursor: pointer;

  /* 내가 추가 해보고 싶어서 넣은 것 */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

footer {
  background-color: black;
  color: #757575;
  text-align: left;

  padding: 75px 45px;
  margin: 0 auto;
}

#footer-wrap {
  display: flex;
  flex-direction: column;

  width: 1000px;
  margin: 0 auto;
}

footer p {
  font-size: 16px;
}

footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 12px 0 0;
  gap: 20px 20px;
}

footer li {
  font-size: 13px;
}

footer a {
  text-decoration: none;
}

.footer-informations h3 {
  font-size: 13px;
  margin: 24px 0 13px 0;
}

.footer-informations p {
  font-size: 12px;
  margin: 0;
}
